@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

.brand {
  font-family: 'Noto Sans JP', sans-serif;
}

.icons-container {
  width: 100px;
}
.underline-hover-effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.2rem;
  font-family: 'helvetica';

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #6e6e6e; //underline color
    transition: width 0.25s ease-out;
  }

  &:hover::before {
    width: 80%;
  }
}
/* header {
  position: relative;
  padding: 0 2rem;

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 10vh;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-container {
      display: flex;
      align-items: center;
      height: 10vh;

      .brand-logo {
        font-size: 1.5rem;
      }

      .toggle-btn {
        position: absolute;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
        cursor: pointer;

        @media only screen and (min-width: 600px) {
          display: none;
        }
      }
    }

    .navbar-links {
      width: 100%;
      transition: opacity .5s ease-out;
      opacity: 0;
      height: 0;
      overflow: hidden;

      @media only screen and (min-width: 600px) {
        width: auto;
        opacity: 1;
        height: auto;
      }

      &.active {
        opacity: 1;
        height: auto;
      }

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        margin: 1.5rem 0;

        @media only screen and (min-width: 600px) {
          flex-direction: row;
          margin: 0;
          padding: 0;
        }

        li {
          text-align: center;
          list-style: none;

          a {
            text-decoration: none;
            color: #000;

            @media only screen and (min-width: 600px) {
              padding: 0 1rem;
              display: inline-block;

              .underline-hover-effect {
                display: inline-block;
                position: relative;
                padding-bottom: 0.2rem;

                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 0;
                  height: 2px;
                  background-color: #6e6e6e; //underline color
                  transition: width 0.25s ease-out;
                }

                &:hover::before {
                  width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
} */
