@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

.brand {
  font-family: 'Noto Sans JP', sans-serif;
}

.icons-container {
  width: 100px;
}
.underline-hover-effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.2rem;
  font-family: 'helvetica';

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #6e6e6e; //underline color
    transition: width 0.25s ease-out;
  }

  &:hover::before {
    width: 80%;
  }
}